<div class="flex flex-column relative">
  <div
    class="flex flex-wrap gap-5 p-8 border-2 border-dashed surface-border border-round surface-ground"
  >
    @for (item of gridData().tables; track $index) {
    <app-desk-card
      [gridData]="item"
      [index]="$index"
      (onClickChange)="eliminatePlayer($index, $event)"
      [disable]="gridData().status === 'FINALIZED'"
    />
    }
  </div>

  <div class="flex py-2 px-5 sticky bottom-0 bg-white shadow-3 mt-5">
    <div class="w-full flex gap-3 justify-content-end">
      <button
        pButton
        pRipple
        icon="fa fa-rotate"
        iconPos="right"
        label="Realizar Sorteio"
        class="p-button-success"
        (click)="generateDraw()"
        [disabled]="drawButtonDisabled()"
      ></button>

      <button
        pButton
        label="Avançar"
        icon="fa-solid fa-angle-right"
        iconPos="right"
        (click)="nextChange()"
      ></button>
    </div>
  </div>
</div>
