:host {
  width: 100%;
  max-width: 700px;
  height: auto;
  position: relative;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1),
    0px 1px 4px -1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  overflow: hidden;
  padding-left: 4rem;
}

.container-icon {
  position: absolute;
  left: -5%;
  top: -40%;
  aspect-ratio: 1/1;
  height: 150%;
  border-radius: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  font-size: 3rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.12);
}

i {
  position: absolute;
}

button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 0px !important;
}
