@if(this.gridData()) {
<p-stepper [linear]="true" [activeStep]="active()">
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content">
      <app-champion-progress-first-step
        [gridData]="gridData()!.stages.firstPhase"
        [players]="gridData()!.players"
        (onDrawChange)="generateDraw($event)"
        (onUpdateResult)="stagesUpdateResult($event)"
        (onNextChange)="logicNext()"
      />
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content">
      <app-champion-progress-second-step
        [gridData]="gridData()!.stages.secondPhase"
        [players]="gridData()!.stages.firstPhase.tables"
        (onPrevChange)="prev()"
        (onDrawChange)="generateDraw($event)"
        (onUpdateResult)="stagesUpdateResult($event)"
        (onNextChange)="logicNext()"
      />
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content">
      <app-champion-progress-third-step
        [gridData]="gridData()!.stages.thirdPhase"
        [players]="gridData()!.stages.secondPhase.tables"
        (onPrevChange)="prev()"
        (onDrawChange)="generateDraw($event)"
        (onUpdateResult)="stagesUpdateResult($event)"
        (onNextChange)="logicNext()"
      />
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content">
      <app-champion-progress-fourth-step
        [gridData]="gridData()!.stages.fourthPhase"
        [players]="gridData()!.stages.thirdPhase.tables"
        [previousStep]="gridData()!.stages.thirdPhase"
        (onPrevChange)="prev()"
        (onDrawChange)="generateDraw($event)"
        (onUpdateResult)="stagesUpdateResult($event)"
        (onNextChange)="logicNext()"
      />
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content"></ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase">
    <ng-template pTemplate="content"></ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase | Semifinal">
    <ng-template pTemplate="content"></ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Fase | Final">
    <ng-template pTemplate="content"></ng-template>
  </p-stepperPanel>
</p-stepper>
}
