<div class="w-full shadow-2">
  <div class="header">
    <h5 class="title">{{ number() }} - Mesa</h5>
  </div>
  <div class="flex flex-column" style="min-height: 81.6px">
    @for (item of gridData(); track $index) {
    <button
      pButton
      [pTooltip]="
        item.status === 'ELIMINATED'
          ? 'Click para desfazer a edição aplicada'
          : 'Click para eliminar'
      "
      tooltipPosition="right"
      [tooltipDisabled]="disable()"
      [text]="true"
      [disabled]="
        item.status === 'ELIMINATED' && isDisableChange() ? true : false
      "
      severity="secondary"
      (click)="onClick(item)"
      [ngClass]="{
        finalized: disable(),
        disabled: item.status === 'ELIMINATED'
      }"
    >
      <app-profile-image size="medium" [src]="item?.image?.url" />
      <span class="ml-3">{{ item.name }} {{ item.surname }}</span>
    </button>
    }
  </div>
</div>
