<app-main-header [title]="titlePage()" />

<div [formGroup]="model" class="content-page-list">
  <app-input-file
    label="Upload"
    [imageSrc]="imageSrc"
    (onChangeInput)="showImageCropperDialog($event)"
    (changeDelete)="resetImage()"
  />

  <form class="flex flex-column gap-3">
    <div class="w-full flex flex-column gap-3">
      <app-input-text formControlName="name" label="Nome" class="flex-1" />
      <app-input-text
        formControlName="surname"
        label="Sobrenome"
        class="flex-1"
      />
    </div>

    <p-button
      label="Salvar"
      [loading]="loading()"
      (onClick)="onSubmit()"
      styleClass="w-full"
    />
  </form>
</div>
